#add{
  height: auto;
  margin-left: 0px;



}
.block {
  
  box-shadow: 0 0 10px rgba(0,0,0,0,5);
  background-color: white;
  margin:-25px 0px 0px 0px;
  border: 1px;
  padding: 10px;
  }

 .instruct{
  color: green;
  font-family: "Abril Fatface";
  font-feature-settings: "'liga' 1";
  font-kerning: auto;
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.33em;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width:300px;
   }
  .credits{
  color: green;
  font-family: "Abril Fatface";
  font-feature-settings: "'liga' 1";
  font-kerning: auto;
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.33em;
  text-align: center;
   margin-left:auto;
   margin-right:auto;
   width:300px;
  }

  body{
   background-color: #000000;
  }

  #header
  {
  margin-left: 45px;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  color:white;
  }
  
  label, li{ 
  font-style: normal;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.5em;
  text-align: left;
  list-style-type:none;
  margin-left: auto;
  padding-left: initial;
  }

 #new-todo

 {

  width : 90%;
  height: 33.1429px;

 }
 input:checked + label 
  {
  text-decoration: line-through;
  font-style: normal;
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5em;
  text-align: left;
  list-style-type:none;
  margin-left: auto;
  background: mediumspringgreen;
  }

 #clearAll, #clearChecked
  {
  text-align: center;
  margin: auto;
  }