#add{
  cursor:default;
  display: inline-block;
  height:20px;
  width:70px;
  background-color:#000000;
  font-family:arial;
  font-weight:bold;
  color: white;
  border-radius: 5px;
  text-align:center;
  margin-top:2px;
}
   .block {
    box-shadow: 0 0 10px rgba(0,0,0,0,5);
    border-radius: 20px;
    background-color: white;
    margin-top:-25px;
    margin-left:auto;
    margin-right:auto;
    width:350px;
    border: 1px;
    padding: 10px;
   }

   .instruct{
    color: #444;
    font-family: "Abril Fatface";
    font-feature-settings: "'liga' 1";
    font-kerning: auto;
    font-style: normal;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.33em;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width:300px;
   }
   .credits{
    color: #444;
    font-family: "Abril Fatface";
    font-feature-settings: "'liga' 1";
    font-kerning: auto;
    font-style: normal;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.33em;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width:300px;
   }

   body{
    background-color: #c8c8c8;
   }
   h1{
    background-color: #fff;
  color: #444;
  font-family: "Arial Black";
  font-feature-settings: "'liga' 1";
  font-kerning: auto;
  font-style: normal;
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5em;
  text-align: center;
  }
  
label, li{ 
  font-style: normal;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.5em;
  text-align: left;
  list-style-type:none;
  margin-left: auto;
  padding-left: initial;
  }

 input:checked + label 
  {
  text-decoration: line-through;
  font-style: normal;
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5em;
  text-align: left;
  list-style-type:none;
  margin-left: auto;
  background: mediumspringgreen;
  }

 #clearAll
  {
    display: inline-block;
    cursor: default;
    height: 20px;
    width: 70px;
    background-color: #ffffff;
    font-family: arial;
    font-weight: bold;
    color: green;
    border-radius: 5px;
    text-align: center;
    margin-left: 50%;
  }